# ==============================
# Laravel Sensitive Files
# ==============================

.env
.env.*
!.env.example
auth.json

# ==============================
# Logs
# ==============================

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# Dependencies
# ==============================

/vendor/
/node_modules/

# ==============================
# Build Files
# ==============================

/public/build
/public/hot
/public/storage
/public/uploads/*
!/public/uploads/.gitignore

# ==============================
# Storage
# ==============================

/storage/*.key
/storage/pail

# ==============================
# IDE / Editor
# ==============================

.DS_Store
Thumbs.db
/.idea/
/.vscode/
/.fleet/
/.zed/

# ==============================
# PHPUnit
# ==============================

.phpunit.result.cache
/.phpunit.cache

# ==============================
# Laravel Nova
# ==============================

/.nova

# ==============================
# Homestead
# ==============================

Homestead.json
Homestead.yaml